# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# general
**/__pycache__
**/*.csv
**/.DS_Store
**/.markdownlint.json

# dependencies
**/node_modules
**/.pnp
**/.pnp.js

# testing
**/coverage

# database
**/prisma/db.sqlite
**/prisma/db.sqlite-journal
**/*.sql

# next.js
**/.next/
**/out/

# production
**/build

# misc
**/*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# local env files
**/.env
**/.env*.local