# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# General
NODE_ENV=""
NODE_VERSION="18.13.0"
COMPOSE_PROFILES="prod"

# PlanetScale Prod Database
DATABASE_URL="mysql://root@127.0.0.1:3306/leetnode"

# PlanetScale Dev Branch Database
# $ pscale connect db-name my-branch-name
# $ pnpm prisma db push
# then perform migration to main branch on planetscale.com
SHADOW_DATABASE_URL="mysql://root@127.0.0.1:3307/leetnode"

# Cloudinary Media Storage
CLOUDINARY_URL=""
CLOUDINARY_API_KEY=""
CLOUDINARY_SECRET=""

# Next Auth
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""

# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Recommender Auth
RECOMMENDER_URL=""
RECOMMENDER_API_KEY=""
REDIS_URL=""

# Email
GMAIL="contact.leetnode@gmail.com"
GMAIL_PASS=""
EMAIL_SERVER="smtp://contact.leetnode@gmail.com:<GMAIL_PASS>@smtp.gmail.com:587"
EMAIL_FROM="noreply@leetnode.com"

# GitHub Actions (Must match the GitHub Repo's Secret Variable)
ACTION_KEY=""
